name: Final Test Workflow

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Echo
      run: echo "Hello World from Final Test Workflow!"
